<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Articles page</h1>
    <div style="background-color: orange; padding: 20px;">
        
            <%for (let art of Allarticles){%>
                <h1><%=art.title %></h1>
                <br>
                <h5><%=art.body  %></h5>
                <hr>
            <% } %>
        
    </div>
</body>
</html>